@font-face {
    font-family: "starjedi";
    src: url("../fonts/Starjedi.ttf");
}

@font-face {
    font-family: "starjhol";
    src: url("../fonts/Starjhol.ttf");
}

@font-face {
    font-family: "starjout";
    src: url("../fonts/Starjout.ttf");
}

@font-face {
    font-family: "starjediout";
    src: url("../fonts/STJEDISE.TTF");
}