/* main container */
#characters_info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




#characterWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#character {

    display: flex;
    width: 100%;
}

#character .image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-transform: lowercase;
    font-family: "starjhol";
    font-size: 2rem;
    color: blue;
}

#character .image img {
    width: 60%;
    height: 60%;
    border-radius: 5%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 1rem blue;
}

#character .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: lowercase;
    padding-left: 1rem;
    font-family: "monospace";
    font-size: 1rem;
    color: blue;
    text-transform: capitalize;

}

#infoContainerCard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    #character {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    #character .image {
        width: 100%;
    }

    #character .info {
        width: 100%;
        margin-bottom: 2rem;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #character {
        margin-bottom: 2rem;
    }

    #character .image {
        width: 80%;
    }

    #character .info {
        width: 50%;

    }
}