#vehicles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "starjedi";
    font-size: 2rem;
    width: 100%;
}

#vehiclesContainer {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 1rem;
}


.uniquevehicle {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.uniquevehicle .pcollapse {
    width: 100%;

}

.uniquevehicle a {
    width: 100%;
    color: black;
    font-size: 0.7rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    background-color: rgb(7, 175, 241);
}


.card {
    max-width: 100%;
    height: 425px;
    background-color: black;
    box-shadow: 0 0 1rem rgb(7, 175, 241);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}

.card h6 {
    color: white;
    text-shadow: 0 0 1rem rgb(7, 175, 241);
}

.card p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    max-width: 100%;

}

.pagination {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.pagination .btn {
    color: white;
    background-color: rgb(7, 175, 241);
    font-family: "starjedi";
}

@media screen and (max-width: 767px) {

    #vehiclesContainer {
        gap: 2rem;
    }

    .uniquevehicle .pcollapse {
        width: 100%;
    }

    .uniquevehicle a {
        font-size: 0.7rem;
    }

    .uniquevehicle {
        width: 60%;

    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {


    #vehiclesContainer {
        gap: 2rem;
    }

    .uniquevehicle .pcollapse {
        width: 100%;
    }

    .uniquevehicle a {
        font-size: 0.7rem;
    }

    .uniquevehicle {
        width: 30%;

    }
}